<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Test Protobuf</title>

    <script src="https://cdn.jsdelivr.net/gh/dcodeIO/protobuf.js@6.9.0/dist/protobuf.js"></script>
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.3.4/dist/leaflet.css" />
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://npmcdn.com/leaflet@1.3.4/dist/leaflet.js"></script>
    <script src="utils.js"></script>
    <script src="zip/zip.js"></script>
    <script src="zip.js"></script>
    <script src="gtfs.js"></script>

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <style>
        #map {
            height: 100%;
            width: 50%;
            position: absolute;
            top: 164px;
            right: 0;
        }

    </style>
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Trips Viewer</a>
            <button type="button" class="btn btn-primary" v-if="!refresh" v-on:click='refresh = !refresh'>
                Activer rafraichissement (5sec)
            </button>
            <button type="button" class="btn btn-danger" v-if="refresh" v-on:click='stopInterval'>
                Désactiver rafraichissement
            </button>
            <span class="badge badge-info">{{ timer }}</span>
            <div class="card text-center w-75" v-if="!this.GTFS.datas.routes" v-on:drop="drop" v-on:dragover="allowDrop" style="border:2px dashed #c4c4c4">
                <div class="card-body">
                    Drag n Drop GTFS zip file here
                </div>
            </div>
            <div class="input-group mb-3" v-if="GTFSSuccess">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">URL GTFS-RT</span>
                </div>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" v-model="urlRT" v-on:keyup.enter="getRT()">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="selectRTFeed">Trip</label>
                </div>
                <select class="custom-select" id="selectRTFeed" v-model="selectedTrip">
                    <option v-for="(tripUpdate, index) in tripUpdates" v-bind:value="index">{{ this.GTFS.datas.routes[tripUpdate.tripUpdate.trip.routeId].route_long_name }} - {{tripUpdate.tripUpdate.trip.tripId}}</option>
                </select>
            </div>
        </nav>
        <div class="w-50">
            <div v-if="selectedTrip">
                <div class="alert alert-primary m-2" role="alert"><span class="font-italic">{{ new Date(this.tripUpdates[this.selectedTrip].tripUpdate.timestamp * 1000).toLocaleTimeString() }}</span> - {{ this.vehicleStatus[this.tripUpdates[this.selectedTrip].tripUpdate.vehicle.currentStatus] }} <span class="font-weight-bold">{{ getStop(this.tripUpdates[this.selectedTrip].tripUpdate.trip.tripId, this.tripUpdates[this.selectedTrip].tripUpdate.vehicle.currentStopSequence) }}</span></div>
                <div id="tripsList">
                    <table class="table table-sm table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Arrêts</th>
                                <th scope="col">Horaire Théorique</th>
                                <th scope="col">ETA (RT)</th>
                                <th scope="col">ETD (RT)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(stopTime, index) in this.GTFS.datas.stop_times[this.tripUpdates[this.selectedTrip].tripUpdate.trip.tripId]" v-bind:class="{'table-primary': index === tripUpdates[selectedTrip].tripUpdate.stopTimeUpdate[0].stopSequence }">
                                <th scope="row">{{ this.GTFS.datas.stops[stopTime.stop_id].stop_name }}</th>
                                <td>{{ stopTime.arrival_time }}</td>
                                <td>{{ getETA(stopTime.stop_sequence) }}</td>
                                <td>{{ getETD(stopTime.stop_sequence) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--<div class="col-6" id="map">
                </div>-->
            </div>
            <div class="alert alert-danger text-center m-2" v-else>
                Trip inconnu
            </div>
        </div>
        <div id="map" class="w-50">
        </div>
    </div>
</body>

<!-- Load polyfills to support older browsers -->

<script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>


<!-- Load Vue followed by BootstrapVue -->
<script src="//unpkg.com/vue@latest/dist/vue.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

<!-- Load the following for BootstrapVueIcons support -->

<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
<script src="map.js"></script>
<script src="vue.js"></script>
<script src="test.js"></script>

</html>
